*{
    padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
	align-items: center;
	margin-right: 30px;
	margin-top: 14px;
} 

nav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px
}

nav a:hover {
	text-decoration: underline;
	opacity: .85;
}
nav img {
	width: 34px;
	padding: 5px;
	margin: auto 7px;
	cursor: pointer;
}
nav img:hover {
	opacity: .8;
}
nav button {
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 7px 12px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
}

nav a.logo {
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    height: 24px;
    width: 74px;
    justify-self: flex-start;
}

.section-1 {
	flex: 1;
}